ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }

  .active {
    background-color:red;
  }

  .section1 {
      background-image: url('./images/abc.jpg');
      width: 100%;
      height: 100%;
      padding-bottom: 2em;
  }

  .section2 {
    background-image: url('./images/gaming.jpg');
    width: 100%;
    height: 100%;
    padding-bottom: 30em;
}

  .section3 {
  background-image: url('./images/foto.jpg');
  width: 100%;
  height: 100%;
  padding-bottom: 30em;
}

  .image1 {
    width: 25%;
    margin: 3em 0;
  }

  .font-profile{
    padding-top: 1em;
    color: white;
  }
  
  .btn {
      background-color: #4A4A4A;
      border: none;
      border-radius: 81px;
      color: white;
      padding: 16px 32px;
      text-align: center;
      font-size: 16px;
      margin: 4px 2px;
      opacity: 1;
      transition: 0.3s;
    }
    
    .btn:hover {opacity: 1}

    .section4{
      background-image:url('./images/background4.jpg');
      width: 100%;
      height: 100%;
      padding-bottom: 100em;
  }

  .hover:hover{
  transform: scale(1.2,1.2);
  }

  .font-judul {
      color: white
  }

  .wrap{
  background-color: rgba(255, 255, 255, 0.7);
  width: 800px;
  color: black;
  margin: 20px auto;
  padding: 15px;
  font-size: 25px;
  border-radius: 25px;

  }



  
  